.login-container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    border: 2px solid black;
    border-radius: 20px;

    width: 20%;
    height: 40%;

    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form div:not(.login-form__buttons) {
    border: 2px solid red;

    display: flex;
    flex-direction: column;
}

.login-form div:not(.login-form__buttons) label {
    margin-bottom: 5px;
}

.login-form__buttons {  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-form__buttons button {
    flex: 1;
    width: 90%;
    /* margin: 0 10px; */
}